<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl.django.t.taobao.com/rest/1.0/file?acl=3c52e0490a7fe98e0cc4a8efc92ed3b6&amp;cID=40001&amp;fileIds=ZNQnWmlMQ0KQfne9i7xBywAAAA8AAQIC&amp;name=TNCarInAgent.ipa&amp;timestamp=1419868800&amp;token=EDsBSkSUR32k7ng4OQ7KMwBe_gPQAAEB&amp;uID=348450169</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://dl.django.t.taobao.com/rest/1.0/file?acl=6de2fa580724fad68d595956f691a187&amp;cID=40001&amp;fileIds=NlyaskTvTFu2dePkCfgxnwAAAA8AAQIC&amp;name=Icon.png&amp;timestamp=1419868800&amp;token=-h4BR3zmSrmXYzy_cd16gwBe_gQ0AAEB&amp;uID=348450169</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://dl.django.t.taobao.com/rest/1.0/file?acl=6de2fa580724fad68d595956f691a187&amp;cID=40001&amp;fileIds=NlyaskTvTFu2dePkCfgxnwAAAA8AAQIC&amp;name=Icon.png&amp;timestamp=1419868800&amp;token=-h4BR3zmSrmXYzy_cd16gwBe_gQ0AAEB&amp;uID=348450169</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tainiu.tninhouse.carin</string>
				<key>bundle-version</key>
				<string>2.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>91汽车代理</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
